.third_section {
    background-color:  hsl(12, 88%, 59%);
    padding: 80px 0;
    .container {
        max-width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            font-family: "BeVietnam_bold";
            font-size: 34px;
            font-style: normal;
            font-weight: 700;
            color: white;
            text-align: center;
            padding-bottom: 20px;
        }
        button {
            background-color: white;
            color: hsl(12, 88%, 59%);
            display: block;
            text-align: center;
            outline: none;
            padding:12.5px 30px;
            box-sizing: border-box;
            border: none;
            cursor: pointer;
            border-radius: 31px;
            align-items: center;
            font-family: "BeVietnam_Bold";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
        }
    }
}

@media(min-width: 720px) {
    .third_section {
        background-color:  hsl(12, 88%, 59%);
        padding: 80px 0;
        .container {
            max-width: 90%;
            margin: auto;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            h2 {
                text-align: left;
                max-width: 450px;
            }
            button {
                margin-top: 16px;
            }
        }
    }
}