@font-face {
    font-family: "BeVietnam_bold";
    src: local(BeVietnam_bold),
      url(../Fonts/BeVietnam-Bold.woff2) format("woff2"),
      url(../Fonts/BeVietnam-Bold.woff) format("woff2"),
}
@font-face {
    font-family: "BeVietnam_Medium";
    src: local(BeVietnam_Medium),
      url(../Fonts/BeVietnam-Medium.woff2) format("woff2"),
      url(../Fonts/BeVietnam-Medium.woff) format("woff"),
}
@font-face {
    font-family: "BeVietnam_Regular";
    src: local(BeVietnam_Regular),
      url(../Fonts/BeVietnam-Regular.woff2) format("woff2"),
      url(../Fonts/BeVietnam-Regular.woff) format("woff"),
}